<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>

  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>

  <runtime>
    <generatePublisherEvidence enabled="false"/>
    <NetFx40_LegacySecurityPolicy enabled="false"/>
  </runtime>

  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets async="false">
      <target name="logfile" xsi:type="File"
          fileName="./output.log"
          concurrentWriteAttemptDelay="10"
          keepFileOpen="true" 
          encoding="utf-8"
          layout="${pad:padding=-5:inner=${level:upperCase=true}} ${date:format=s} [${threadid}] - ${logger} (${ndc})${newline}${message}${newline}${onexception:Exception: ${exception:format=tostring}${newline}}"
      />
      <target name="info" xsi:type="File"
          fileName="./info.log"
          concurrentWriteAttemptDelay="10"
          keepFileOpen="true" 
          encoding="utf-8"
          layout="${message}"
      />			

      <target name="console" 
          xsi:type="ColoredConsole"
          layout="${message}"
          useDefaultRowHighlightingRules="true">
      </target>
    </targets>
    <rules>
      <logger name="*" minLevel="Trace" writeTo="logfile,console">
      </logger>
      <logger name="*" minLevel="Info" writeTo="info">
      </logger>
    </rules>
  </nlog>


  <appSettings>
  </appSettings>
</configuration>
